:root {
    --color-dark-primary: #1e2326;
    --color-dark-secondary: #1e2326;
    --color-white: #d3c6aa;
    --color-active: #dbbc7f;
    --color-urgent: #e67e80;

    --margin-lg: 1em;
    --margin-sm: 0.5em;
}

* {
    box-shadow: none;
    background-image: none;
    font-size: 15px;
    font-family: MonaspiceAr NF;
    font-weight: bold;
}

.workspaces * {    
    color: var(--color-white);
}

.workspaces .item.visible *, .workspaces .item.visible  {
    background-color: var(--color-white);
    color: var(--color-dark-primary);
    /* box-shadow: inset 0 -1px var(--color-white); */
}

.workspaces .item.focused {
    /* box-shadow: inset 0 -1px var(--color-active); */
    /* background-color: var(--color-active); */
}

.workspaces .item.urgent {
    background-color: var(--color-urgent);
}

.focused .label {
    font-weight: bold;
}

#bar, popover, popover contents, calendar {
    background-color: var(--color-dark-primary);
    color: var(--color-white);
}

box, button, label {
    background-color: var(--color-dark-primary);
    border: none;
    border-radius: 0;
}

button {
    padding-left: var(--margin-sm);
    padding-right: var(--margin-sm);
}

button:hover, button:active {
    background-color: var(--color-dark-secondary);
}

#end > * + * {
    margin-left: var(--margin-lg);
}

.sysinfo > * + * {
    margin-left: var(--margin-sm);
}

.clock {
    font-weight: bold;
    color: var(--color-white);
}


.popup-clock .calendar-clock {
    font-size: 2.0em;
}

.popup-clock .calendar .today {
    background-color: var(--color-active);
}

.volume {
    color: var(--color-white);
}

.popup-volume * {
    color: var(--color-white);
}

.popup-volume .apps-box .app-box .btn-mute {
    border-radius: 0;
    border: none;
    font-size: 20px;
}

.popup-volume .device-box .device-selector *, .popup-volume .device-box .btn-mute {
    border-radius: 0;
    border: none;
}

.popup-volume .device-box .btn-mute *, .popup-volume .apps-box .app-box .btn-mute * {
    font-size: 20px;
}
